
.accordion-box {
  margin-bottom: 10px;
  .accordion-header

{
  height: 40px;
  width: 100%;
  border-radius: 2px;
  background-color: #002060;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  .icons-box

{
  background-image: url(../../Images/arrow_down3.jfif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 10px;
  border-radius: 50%;
  text-align: center;
  color: #595959;
  font-size: 18px;
  line-height: 22px;
}


.export-icons-box1 {
  background-image: url(../../Images/export4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 23px;
  width: 25px;
  position: absolute;
  right: 45px;
  bottom: 10px;
  top: 10px;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
}

}

.accordion-body {
  padding: 0px 20px;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.sub-accordion-box {
  margin-bottom: 10px;
  .sub-accordion-header

{
  cursor: pointer;
  height: 37px;
  width: 100%;
  border-radius: 2px;
  background-color: #595959;
  padding: 10px 10px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  .icons-box

{
  background-image: url(../../Images/arrow_down3.jfif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 10px;
  border-radius: 50%;
  text-align: center;
  color: #595959;
  font-size: 18px;
}

.export-icons-box1 {
  background-image: url(../../Images/export4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 23px;
  width: 25px;
  position: absolute;
  right: 45px;
  bottom: 10px;
  top: 10px;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
}

}

.sub-accordion-body {
  position: relative;
  overflow: auto;
  height: 780px;
  margin-top: 5px;
}

.data-table {


tbody {
  tr: nth-child(even);
  background-color: aquamarine;
  td

{
  vertical-align: middle;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  a

{
  color: #002060;
  cursor: pointer;
  span

{
  font-size: 11px;
}

}
}
}
}
}
}

td {
  width: 300px;
  padding: 8px;
  white-space: nowrap;
}

  th:first-child{
    position: sticky !important;
    left: -20px;
    width: 60px !important;
    margin-right: 0px;
    z-index: 2;
  /*  border-right: 2px solid #dddddd;*/
  }

  td:first-child {
    position: sticky !important;
    left: -20px;
    width: 60px !important;
    padding-left: 20px;
    margin-right: 0px;
    z-index: 2;
  /*  border-right: 2px solid #dddddd;*/
  }

    th:first-child::after,
    td:first-child::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 63px;
      width: 2px;
      background-color: #dddddd;
      z-index: 1;
    }

table {
  border-collapse: collapse;
}

th {
  width: inherit;
  position: sticky;
  top: 0px;
  z-index: 1;
}

thead th:first-child {
  position: sticky !important;
  top: 0px;
  z-index: 3; 
}

thead {
  border-collapse: collapse;
  border-spacing: 0 10px;
}

tbody {
  border-collapse: collapse;
  border-spacing: 20px 20px;

}

.btn-success {
  background-color: #1b68b3;
  border: 1px solid #1b68b3;
}


.btn-success,
.btn-secondary,
.btn-primary,
.btn-info,
.btn-dark {
  background-color: #1b68b3;
  border: 1px solid #1b68b3;
  position: absolute;
  flex-wrap: wrap;
  align-items: stretch;
  width: 40px;
}

.example-container {
  width: 210px;
  max-width: 100%;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  min-height: 30px;
  background: white;
  border-radius: 0px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 6px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  position: relative;
}



.action-data {
  position: absolute;
  right: 4px;
  top: 3px;
  width: 82px;
  z-index: 99;
  cursor: default;
  border-radius: 3px;
  overflow: hidden;
  height: 27px;
  padding: 2px;
}

.action-btn {
  display: inline-block;
  padding: 3px 8px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  vertical-align: top;
}

.setting-tab li a {
  cursor: pointer;
}

.input-height {
  height: 30px;
}

.accordin-box {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  .accordin-name

{
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #dee2e6;
  .drop-icons

{
  position: absolute;
  right: 18px;
  top: 8px;
  font-size: 24px;
}

}

.accordin-list-box {
  border: 1px solid #dee2e6;
  border-top: 0px;
}

}

.example-box:hover {
  background-color: #E6E4E4;
}

.setting-hieght {
  height: calc(100vh - 340px);
}

.ui-data {
  width: 100%;
  height: 100%;
}

.custom-control-inline.align-middle .status-inactive {
  color: #40a803;
}

.custom-control-inline.align-middle .status-active {
  color: #fc0606;
}

.plus-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #a9a9a9;
  font-weight: 500;
  text-align: center;
  border: 0;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: central;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

  .slider.round:before {
    border-radius: 50%;
  }

.status-active {
  color: green;
  margin-left: 5px;
}

  .status-active i {
    font-size: 11px;
  }

.status-inactive {
  color: #e1034c;
  margin-left: 5px;
}

  .status-inactive i {
    font-size: 11px;
  }

.setting-height {
  height: calc(100vh - 265px);
  overflow-y: auto;
}



.close-rule {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #002060;
  color: #FFFFFF;
  font-weight: 800;
  border: 0;
  vertical-align: central;
}

.header-color {
  background-color: #002060;
  color: #FFFFFF;
}

.btn-copy {
  background-color: #1b68b3;
  border: 1px solid #1b68b3;
  color: #FFFFFF;
  position: absolute;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: 680px;
  width: 60px;
}

.templateRule {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.modal-open {
  overflow-y: scroll;
}

.page-alignment {
  /* min-height: calc(100vh - 200px); */
  margin-top: 5px;
  width: calc(100% - 10px);
  padding: 5px 5px;
  height: 1000px;
}

.modal-body {
  max-height: calc(100vh - 150px);
  min-width: calc(100% - 10px);
  overflow-y: auto;
  overflow-x: auto;
  padding: 20px 20px;
}
.right-modal {
  margin-left: auto;
}

.no-data {
  font-weight: bold; /* Make the text bold */
  text-align: center;
  color: #d16b04;
  font-size: 18px;
}

tr:nth-child(even) td:first-child {
  background-color: #e7feff !important;
}

tr:nth-child(odd) td:first-child {
  background-color: white !important;
}



/*.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item span {
  width: 300px !important; 
}*/



/*.height-body{
    max-block-size: 500px;
    margin-top:50px;
}*/
/*.white-bg {
  background: #fff;
  max-height: calc(100vh - 150px);
  margin-top: 14px;
  padding: 0px 0px;
}*/
