<body style="position:center; align-content:center; align-items:center">
  <div style="margin-top: 20%; margin-left:65%">
    <div class="col-md-4">
      <H4 style="color: antiquewhite">Please Login</H4>
      <div class="form-floating my-4">
        <!--<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="UserName">-->
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: 400px; background-color: #DFF5FF">
        <label for="floatingInput">User Name</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating">
        <!--<input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="Password">-->
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" style="width: 400px; background-color: #DFF5FF">
        <label for="floatingPassword">Password</label>
      </div>
    </div>
    <div class="col-12 my-4">
      <!--<button type="submit" class="btn btn-primary" routerLink="/home" (click)="OnSignIn()">Sign in</button>-->
      <button type="submit" class="btn btn-primary" routerLink="/home">Sign in</button>
      <a href="/" style="margin-left:20px; font-style:italic; color:antiquewhite">Reset</a>
    </div>
  </div>
</body>

