body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../../Images/LoginBack.jpg);
  /*background-image: url(../../Images/Gif1.gif);*/
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}
