/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@ng-select/ng-select/themes/default.theme.css";

.modal-open {
  overflow-y: scroll;
}

.form-control.input-search {
  height: 24px;
  width: 200px !important;
}

form-inline justify-content-dropdown-end {
  margin-left: 50%;
  height: 34px !important;
  min-height: 30px;
  max-width: 150px;
}

.form-inline.justify-content-end {
  margin-left: 30%;
  margin-bottom:5px;
  height: 34px !important;
  min-height: 30px;
  max-width: 400px;
}

.form-inline.justify-content-icon-end {
  margin-right: 5px;
  margin-bottom: 5px;
  width:350px;
  /* min-width: 200px;*/
}

.form-inline.justify-content-column-chooser-end {
  /*margin-left: 30px;*/
  height: 24px !important;
  min-height: 50px;
  max-width: 50px;
  /* min-width: 200px;*/
}

.form-inline.justify-content-tree-end {
/*  margin-right: 10vh !important;*/
 /*  margin-left: 600px;*/
  height: 24px !important;
  min-height: 50px;
  max-width: 50px;
  /* min-width: 200px;*/
}

.input-group {
  position: absolute;
  padding-right: 5px;
  flex-wrap: wrap;
  align-items: stretch;
  width: 225px !important;
}
.multiselect-dropdown .dropdown-btn {
  max-height: 3em !important;
  overflow-y: hidden;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  max-width: 180px !important;
  margin-bottom: 15px !important;
}

.white-bg {
  min-height: calc(100vh - 153px) !important;
}

.table-body {
  /*height: calc(100vh - 180px) !important;*/
  height: calc(100vh - 180px) !important;
  position: relative;
  width: 100%;
  font-size: 15px;
  overflow-x:auto;
  overflow-y:hidden;
  padding-bottom: 10px;
  /*overflow-x: auto !important;*/
}

tr:nth-child(even) {
  background: #e7feff !important;
}

th {
  background: #a2add0;
  font-weight: 600;
  min-width: stretch;
}
.table-container {
  height: 600px;
  white-space: nowrap;
  border-spacing: 30px;
  position: relative;

}

.table-container th, .table-container td {
    padding: 7px;  
}


.table-1 {
  overflow-x: auto !important;
  overflow-y: auto !important;
  position: sticky;
  top: 0;
  width: 100%;
}
input[type="checkbox"]:checked {
  /* background: #0a6c8b;*/
  background: #9EBAF3;
  color: white;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  background: lightgray;
  height: 18px;
  width: 18px;
  border: 1px solid white;
  color: white;
}

  input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 35%;
    top: 22%;
    width: 25%;
    height: 50%;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }

  .example-tree {
  div[role="group"] > .mat-tree-node {
    padding-right: 40px;
  }
}
.custom-size {
  font-size: 8px;
}
.icon-wrapper {
  text-align: center;
}

::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #7c7185;
  border-radius: 50px;
  transition: background-color 0.1s; /* Smooth transition effect */
}

  ::-webkit-scrollbar-thumb:hover {
    background: #563f46;
  }


.close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: dimgray;
  background-color: white;
  font-weight: 800;
  border: 0;
  border-radius: 50%;
  vertical-align: central;
}
::ng-deep.ng-select-container {
  border-bottom: 1px solid red !important;
}
.btn-submit {
  width: 80px;
  height: 36px !important;
  border-radius: 4px !important;
  font-size: 17px !important;
  color: #ffffff;
  font-weight: 500;
  padding: 2px 2px !important;
  text-align: center;
  background-color: #1b68b3 !important;
  border: 1px solid #1b68b3 !important;
  background-image: none !important;
  margin-left:5px;
}

